@using LyricsImplementer.Models;
@using LyricsImplementer.Classes;
@{
	ViewBag.Title = "Lyrics";
}
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
	<table>
		<caption><b>First added songs</b></caption>
		<tbody>
			@{
				int i = 0;
				string name = "";
				foreach (Song song in ViewBag.Songs)
				{
					name = String.Format("{0} - {1}", Helper.GetArtists(song.Artists), song.Name);
					<td><a href="/LyricsAndTranslation/SongText/@song.SongId">@name</a></td>
					i++;
					if (i == 2)
					{
					<br />
					i = 0;
					}
				}
			}
			</tbody>
		</table>
	</body>

