@using LyricsImplementer.Models;
@using LyricsBL;
@using LyricsImplementer.Classes;
@{
	ViewBag.Title = ViewBag.Song.Name;
	Song song = ViewBag.Song;
}
<body>
	<table>
		<caption><b>@String.Format("Перевод песни {0} - {1}", Helper.GetArtists(song.Artists), song.Name) </b></caption>
		<tbody>
			@{
				var originalText = Editor.GetText("");
				var translation = Editor.GetText("");

				for (int i = 0; i < originalText.Length; i++)
				{
					<tr>
						<td>@originalText[i]</td>
						<td>@translation[i]</td>
					</tr>
				}
			}
		</tbody>

		<tfoot>
		<th colspan="3"><br />Author of the translation: @song.User.Nickname</th>
		</tfoot>

	</table>
</body>

